@import "tailwindcss";

@font-face {
  font-family: "Space Mono";
  src: url("/public/font/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --clr-blue: oklch(0.56 0.25 259);
    --clr-white: oklch(1 0 0);
    --clr-light-blue: oklch(0.69 0.08 250);
    --clr-darker-blue: oklch(0.32 0.09 255);
    --clr-very-darker-blue: oklch(0.24 0.08 254);
    --clr-dark-blue: oklch(0.46 0.12 254);
    --clr-very-light-blue: oklch(0.98 0.01 260);
    --clr-very-dark-blue: oklch(0.37 0.07 255);
    --color-mint-500: oklch(0.72 0.11 178);
  }
}
