@import "tailwindcss";

@font-face {
  font-family: "AdihausDIN";
  src: url("/font/adihausdin_regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AdiNeuePro";
  src: url("/font/adineueprocyr_lightweb.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AdiNeuePro";
  src: url("/font/adineueprocyr_boldweb.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #eceff1;
  --color-dark-grey: #6b6b6b;
  --color-light-green: #00c950;
  --color-green: #408267;
  --color-dark-green: #00663c;
  --color-orange: #ff6900;
  --font-default: "AdihausDIN", sans-serif;
  --font-title: "AdiNeuePro", sans-serif;
}

@theme inline {
  --clr-black: var(--color-black);
  --clr-white: var(--color-white);
  --clr-grey: var(--color-grey);
  --clr-dark-grey: var(--color-dark-grey);
  --clr-light-green: var(--color-light-green);
  --clr-green: var(--color-green);
  --clr-dark-green: var(--color-dark-green);
  --clr-orange: var(--color-orange);
  --font-adidas: var(--font-default);
  --font-adidas2: var(--font-title);
}
